In [19]:
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By

In [1]:
import pandas as pd
import numpy as np

In [21]:
def get_driver():
    chrome_options = Options()
    chrome_options.add_argument('--no-sandbox')
    chrome_options.add_argument('--headless')
    chrome_options.add_argument('--disable-dev-shm-usage')
    # loading the browser
#     driver = webdriver.Chrome("chromedriver",options=chrome_options)
    driver = webdriver.Chrome(ChromeDriverManager().install(), options=chrome_options)
    return driver

In [22]:
print("Creating driver....")
driver = get_driver()

====== WebDriver manager ======

Creating driver....

Current google-chrome version is 99.0.4844
Get LATEST chromedriver version for 99.0.4844 google-chrome
Driver [C:\Users\joyan\.wdm\drivers\chromedriver\win32\99.0.4844.51\chromedriver.exe] found in cache

In [25]:
# open a tab with this url
print("Fetching URL.....")
match_1 = 3727946
URL = f"https://www.fotmob.com/match/{match_1}"
driver.get(URL)
scores_divs = driver.find_elements_by_class_name('css-jkaqxa')
names_divs = driver.find_elements_by_class_name('css-er0nau-TeamName')
home_team_name = names_divs[2].text
away_team_name = names_divs[3].text
home_team_score = (list(scores_divs[1].text)[0])
away_team_score = (list(scores_divs[1].text)[4])

#Expected goals (xG),xG first half, xG second half
stats_divs = driver.find_elements_by_class_name('css-1k6dpoy-Stat')
stats_titles_divs = driver.find_elements_by_class_name('css-1w7h84q-StatTitle')
for i in range(len(stats_titles_divs)):
    if stats_titles_divs[i].text == 'Expected goals (xG)':
            index_xG = i
    elif stats_titles_divs[i].text == 'Total shots':
        index_total_shots = i
    elif stats_titles_divs[i].text == 'xG first half':
        index_xG_first_half = i
    
    elif stats_titles_divs[i].text == 'xG second half':
        index_xG_second_half = i
    elif stats_titles_divs[i].text == 'xG open play':
        index_open_play = i
    elif stats_titles_divs[i].text == 'xG set play':
        index_set_play = i
    elif stats_titles_divs[i].text == 'xG penalty':
        index_xG_penalty = i
    elif stats_titles_divs[i].text == 'xG on target (xGOT)':
        index_xGOT = i
xG = stats_divs[index_xG].text
home_xG,away_xG = xG[:4],xG[25:]

shots = stats_divs[index_total_shots].text
home_shots,away_shots = shots[:2],shots[15:]

xG_first_half = stats_divs[index_xG_first_half].text
home_xG_first_half,away_xG_first_half = xG_first_half[:4],xG_first_half[19:]

xG_second_half = stats_divs[index_xG_second_half].text
home_xG_second_half,away_xG_second_half = xG_second_half[:4],xG_second_half[20:]

xG_Open_Play = stats_divs[index_open_play].text
home_xG_Open_Play,away_xG_Open_Play = xG_Open_Play[:4],xG_Open_Play[19:]

xG_Set_Play = stats_divs[index_set_play].text
home_xG_Set_Play,away_xG_Set_Play = xG_Set_Play[:4],xG_Set_Play[17:]

xGOT = stats_divs[index_xGOT].text
home_xGOT,away_xGOT = xGOT[:4],xGOT[25:]

print(home_team_name,away_team_name)
print(home_team_score ,away_team_score)
print(home_xG,away_xG)
print(home_shots,away_shots)
print(home_xG_first_half,away_xG_first_half)
print(home_xG_second_half,away_xG_second_half)
print(home_xG_Open_Play,away_xG_Open_Play)
print(home_xG_Set_Play,away_xG_Set_Play)
# print(home_xG_penalty,away_xG_penalty)
print(home_xGOT,away_xGOT)

Fetching URL.....
Northeast United FC Chennaiyin FC
1 2
0.60 1.27
11 11
0.21 0.62
0.39 0.65
0.50 .89
0.10 0.37
0.83 0.89

In [23]:
def get_team_stats(driver,match):
    driver.get(URL)
#getting team name
    names_divs = driver.find_elements_by_class_name('css-er0nau-TeamName')
    if len(names_divs) != 0:
        home_team_name = names_divs[2].text
        away_team_name = names_divs[3].text
    
#getting team scores
#  3791566 to 3791620 for the last 55 matches
    scores_divs = driver.find_elements_by_class_name('css-slmchi-wrapper')
    if len(scores_divs) != 0:
        home_team_score = (list(scores_divs[1].text)[0])
        away_team_score = (list(scores_divs[1].text)[4])
    else:
#  for first 56 match the class name is this 372746 to 3728002
        scores_divs = driver.find_elements_by_class_name('css-jkaqxa')
        home_team_score = (list(scores_divs[1].text)[0])
        away_team_score = (list(scores_divs[1].text)[4])
    
#getting team stats
    stats_divs = driver.find_elements_by_class_name('css-1k6dpoy-Stat')
    if len(stats_divs) != 0:
        stats_titles_divs = driver.find_elements_by_class_name('css-1w7h84q-StatTitle')
        for i in range(len(stats_titles_divs)):
            if stats_titles_divs[i].text == 'Expected goals (xG)':
                    index_xG = i
            elif stats_titles_divs[i].text == 'xG first half':
                index_xG_first_half = i
            elif stats_titles_divs[i].text == 'xG second half':
                index_xG_second_half = i
            elif stats_titles_divs[i].text == 'xG open play':
                index_open_play = i
            elif stats_titles_divs[i].text == 'xG set play':
                index_set_play = i
            elif stats_titles_divs[i].text == 'xG penalty':
                index_xG_penalty = i
            elif stats_titles_divs[i].text == 'xG on target (xGOT)':
                index_xGOT = i

        try:
            xG = stats_divs[index_xG].text
            home_xG,away_xG = xG[:4],xG[25:]
        except NameError:
            home_xG,away_xG = 0,0

        try:
            shots = stats_divs[index_total_shots].text
            home_shots,away_shots = shots[:2],shots[15:]
        except NameError:
            home_shots,away_shots = 0,0
            
        try:
            xG_first_half = stats_divs[index_xG_first_half].text
            home_xG_first_half,away_xG_first_half = xG_first_half[:4],xG_first_half[19:]
        except NameError:
            home_xG_first_half,away_xG_first_half = 0,0

        try:
            xG_second_half = stats_divs[index_xG_second_half].text
            home_xG_second_half,away_xG_second_half = xG_second_half[:4],xG_second_half[19:]
        except NameError:
            home_xG_second_half,away_xG_second_half = 0,0

        try:
            xG_Open_Play = stats_divs[index_open_play].text
            home_xG_Open_Play,away_xG_Open_Play = xG_Open_Play[:4],xG_Open_Play[19:]
        except NameError:
            home_xG_Open_Play,away_xG_Open_Play = 0,0


        try:
            xG_Set_Play = stats_divs[index_set_play].text
            home_xG_Set_Play,away_xG_Set_Play = xG_Set_Play[:4],xG_Set_Play[17:]
        except NameError:
            home_xG_Set_Play,away_xG_Set_Play = 0,0
        
        try:
            xG_penalty = stats_divs[index_xG_penalty].text
            home_xG_penalty,away_xG_penalty = xG_penalty[:4],xG_penalty[16:]
        except NameError:
            home_xG_penalty,away_xG_penalty = 0,0

        try:
            xGOT = stats_divs[index_xGOT].text
            home_xGOT,away_xGOT = xGOT[:4],xGOT[25:]
        except NameError:
            home_xGOT,away_xGOT = 0,0
    
    else:
        stats_divs = driver.find_elements_by_class_name('css-radwzz-Stat')
        stats_titles_divs = driver.find_elements_by_class_name('css-1s3albn-StatTitle')
        for i in range(len(stats_titles_divs)):
            if stats_titles_divs[i].text == 'Expected goals (xG)':
                    index_xG = i
            elif stats_titles_divs[i].text == 'xG first half':
                index_xG_first_half = i
            elif stats_titles_divs[i].text == 'xG second half':
                index_xG_second_half = i
            elif stats_titles_divs[i].text == 'xG open play':
                index_open_play = i
            elif stats_titles_divs[i].text == 'xG set play':
                index_set_play = i
            elif stats_titles_divs[i].text == 'xG penalty':
                index_xG_penalty = i
            elif stats_titles_divs[i].text == 'xG on target (xGOT)':
                index_xGOT = i

        try:
            xG = stats_divs[index_xG].text
            home_xG,away_xG = xG[:4],xG[25:]
        except NameError:
            home_xG,away_xG = 0,0
         
        try:
            shots = stats_divs[index_total_shots].text
            home_shots,away_shots = shots[:2],shots[15:]
        except NameError:
            home_shots,away_shots = 0,0

        try:
            xG_first_half = stats_divs[index_xG_first_half].text
            home_xG_first_half,away_xG_first_half = xG_first_half[:4],xG_first_half[19:]
        except NameError:
            home_xG_first_half,away_xG_first_half = 0,0

        try:
            xG_second_half = stats_divs[index_xG_second_half].text
            home_xG_second_half,away_xG_second_half = xG_second_half[:4],xG_second_half[19:]
        except NameError:
            home_xG_second_half,away_xG_second_half = 0,0

        try:
            xG_Open_Play = stats_divs[index_open_play].text
            home_xG_Open_Play,away_xG_Open_Play = xG_Open_Play[:4],xG_Open_Play[19:]
        except NameError:
            home_xG_Open_Play,away_xG_Open_Play = 0,0


        try:
            xG_Set_Play = stats_divs[index_set_play].text
            home_xG_Set_Play,away_xG_Set_Play = xG_Set_Play[:4],xG_Set_Play[17:]
        except NameError:
            home_xG_Set_Play,away_xG_Set_Play = 0,0
        
        try:
            xG_penalty = stats_divs[index_xG_penalty].text
            home_xG_penalty,away_xG_penalty = xG_penalty[:4],xG_penalty[16:]
        except NameError:
            home_xG_penalty,away_xG_penalty = 0,0

        try:
            xGOT = stats_divs[index_xGOT].text
            home_xGOT,away_xGOT = xGOT[:4],xGOT[25:]
        except NameError:
            home_xGOT,away_xGOT = 0,0
    
    return {
    'match_id':match,
    'home_team':home_team_name,
    'away_team':away_team_name,
    'home_team_score':float(home_team_score),
    'away_team_score':float(away_team_score),
    'home_xG':float(home_xG),
    'away_xG':float(away_xG),
    'home_shots':float(home_shots),
    'away_shots':float(away_shots),
    'home_xG_first_half': float(home_xG_first_half),
    'away_xG_first_half': float(away_xG_first_half),
    'home_xG_second_half':float(home_xG_second_half),
    'away_xG_second_half':float(away_xG_second_half),
    'home_xG_Open_Play':float(home_xG_Open_Play),
    'away_xG_Open_Play':float(away_xG_Open_Play),
    'home_xG_Set_Play':float(home_xG_Set_Play),
    'away_xG_Set_Play':float(away_xG_Set_Play),
    'away_xG_Open_Play':float(away_xG_Open_Play),
    'home_xGOT':float(home_xGOT),
    'away_xGOT':float(away_xGOT)
    }

In [26]:
print("Fetching Data.....")
match_1 = 3791620
URL = f"https://www.fotmob.com/match/{match_1}"
get_team_stats(driver,match_1)

Fetching Data.....

{'match_id': 3791620,
 'home_team': 'FC Goa',
 'away_team': 'Kerala Blasters FC',
 'home_team_score': 4.0,
 'away_team_score': 4.0,
 'home_xG': 2.69,
 'away_xG': 2.99,
 'home_shots': 15.0,
 'away_shots': 14.0,
 'home_xG_first_half': 0.17,
 'away_xG_first_half': 1.67,
 'home_xG_second_half': 2.52,
 'away_xG_second_half': 1.32,
 'home_xG_Open_Play': 0.89,
 'away_xG_Open_Play': 0.03,
 'home_xG_Set_Play': 1.02,
 'away_xG_Set_Play': 0.17,
 'home_xGOT': 3.48,
 'away_xGOT': 2.92}

In [27]:
# 3727946 to 3728002 for first 56 match
# 3791566 for matches after that
match_1 = 3727946
URL = f"https://www.fotmob.com/match/{match_1}"
stats = []
for i in range(0,58):
    match = match_1 + i
    print("Trying to get match",match,"stats")
    try:
        URL = f"https://www.fotmob.com/match/{match}"
        driver.get(URL)
        stats.append(get_team_stats(driver,match))
        print("Stats scraped!")
    except:
        print("Could not get match",match,"stats")

Trying to get match 3727946 stats
Stats scraped!
Trying to get match 3727947 stats
Stats scraped!
Trying to get match 3727948 stats
Stats scraped!
Trying to get match 3727949 stats
Stats scraped!
Trying to get match 3727950 stats
Stats scraped!
Trying to get match 3727951 stats
Stats scraped!
Trying to get match 3727952 stats
Stats scraped!
Trying to get match 3727953 stats
Stats scraped!
Trying to get match 3727954 stats
Stats scraped!
Trying to get match 3727955 stats
Stats scraped!
Trying to get match 3727956 stats
Could not get match 3727956 stats
Trying to get match 3727957 stats
Stats scraped!
Trying to get match 3727958 stats
Stats scraped!
Trying to get match 3727959 stats
Stats scraped!
Trying to get match 3727960 stats
Stats scraped!
Trying to get match 3727961 stats
Stats scraped!
Trying to get match 3727962 stats
Stats scraped!
Trying to get match 3727963 stats
Could not get match 3727963 stats
Trying to get match 3727964 stats
Stats scraped!
Trying to get match 3727965 stats
Stats scraped!
Trying to get match 3727966 stats
Could not get match 3727966 stats
Trying to get match 3727967 stats
Stats scraped!
Trying to get match 3727968 stats
Stats scraped!
Trying to get match 3727969 stats
Stats scraped!
Trying to get match 3727970 stats
Stats scraped!
Trying to get match 3727971 stats
Stats scraped!
Trying to get match 3727972 stats
Stats scraped!
Trying to get match 3727973 stats
Stats scraped!
Trying to get match 3727974 stats
Stats scraped!
Trying to get match 3727975 stats
Stats scraped!
Trying to get match 3727976 stats
Stats scraped!
Trying to get match 3727977 stats
Stats scraped!
Trying to get match 3727978 stats
Stats scraped!
Trying to get match 3727979 stats
Stats scraped!
Trying to get match 3727980 stats
Stats scraped!
Trying to get match 3727981 stats
Stats scraped!
Trying to get match 3727982 stats
Stats scraped!
Trying to get match 3727983 stats
Stats scraped!
Trying to get match 3727984 stats
Stats scraped!
Trying to get match 3727985 stats
Stats scraped!
Trying to get match 3727986 stats
Stats scraped!
Trying to get match 3727987 stats
Stats scraped!
Trying to get match 3727988 stats
Stats scraped!
Trying to get match 3727989 stats
Stats scraped!
Trying to get match 3727990 stats
Stats scraped!
Trying to get match 3727991 stats
Stats scraped!
Trying to get match 3727992 stats
Stats scraped!
Trying to get match 3727993 stats
Stats scraped!
Trying to get match 3727994 stats
Stats scraped!
Trying to get match 3727995 stats
Stats scraped!
Trying to get match 3727996 stats
Stats scraped!
Trying to get match 3727997 stats
Could not get match 3727997 stats
Trying to get match 3727998 stats
Stats scraped!
Trying to get match 3727999 stats
Stats scraped!
Trying to get match 3728000 stats
Stats scraped!
Trying to get match 3728001 stats
Stats scraped!
Trying to get match 3728002 stats
Stats scraped!
Trying to get match 3728003 stats
Could not get match 3728003 stats

In [28]:
df1 = pd.DataFrame(stats)

In [29]:
df1.tail(10)

,match_id,home_team,away_team,home_team_score,away_team_score,home_xG,away_xG,home_shots,away_shots,home_xG_first_half,away_xG_first_half,home_xG_second_half,away_xG_second_half,home_xG_Open_Play,away_xG_Open_Play,home_xG_Set_Play,away_xG_Set_Play,home_xGOT,away_xGOT
43,3727992,Kerala Blasters FC,FC Goa,2.0,2.0,1.56,1.00,9.0,1.0,1.44,0.33,0.12,0.67,0.98,0.72,0.58,0.28,1.32,1.24
44,3727993,Jamshedpur,Chennaiyin FC,0.0,1.0,1.10,1.04,19.0,5.0,0.40,0.97,0.71,0.07,1.06,0.02,0.04,1.02,0.40,0.59
45,3727994,Odisha FC,Mumbai City FC,4.0,2.0,2.39,1.25,9.0,6.0,0.04,1.07,2.35,0.17,2.06,0.00,0.33,0.25,2.34,1.59
46,3727995,Bengaluru FC,SC East Bengal,1.0,1.0,0.96,0.26,11.0,5.0,0.14,0.22,0.82,0.04,0.67,0.20,0.29,0.06,0.15,0.44
47,3727996,ATK Mohun Bagan FC,Hyderabad FC,2.0,2.0,0.94,2.41,12.0,18.0,0.13,1.50,0.81,0.91,0.88,0.00,0.06,0.40,0.22,2.77
48,3727998,Jamshedpur,Northeast United FC,3.0,2.0,2.78,1.24,21.0,8.0,1.16,0.66,1.62,0.58,2.22,0.19,0.57,0.05,1.85,1.64
49,3727999,SC East Bengal,Mumbai City FC,0.0,0.0,0.35,0.49,8.0,5.0,0.26,0.13,0.09,0.37,0.20,0.28,0.14,0.21,0.08,0.50
50,3728000,ATK Mohun Bagan FC,Odisha FC,0.0,0.0,2.31,0.50,16.0,13.0,1.60,0.19,0.71,0.31,2.19,0.31,0.13,0.19,1.59,0.47
51,3728001,FC Goa,Chennaiyin FC,1.0,0.0,1.13,0.10,16.0,3.0,0.75,0.06,0.38,0.05,0.85,0.08,0.28,0.02,1.23,0.02
52,3728002,Kerala Blasters FC,Hyderabad FC,1.0,0.0,1.14,1.14,12.0,15.0,0.73,0.37,0.40,0.77,0.57,0.83,0.57,0.31,0.68,0.35

In [30]:
df1.to_csv('ISL_scraped_stats_till_KBFCvsHFC.csv')

In [31]:
# 3727946 to 3728002 for first 56 match
# 3791566 for matches after that
match_1 = 3791565
URL = f"https://www.fotmob.com/match/{match_1}"
stats = []
for i in range(0,56):
    match = match_1 + i
    print("Trying to get match",match,"stats")
    try:
        URL = f"https://www.fotmob.com/match/{match}"
        driver.get(URL)
        stats.append(get_team_stats(driver,match))
    except:
        print("Could not get match",match,"stats")

df2 = pd.DataFrame(stats)

Trying to get match 3791565 stats
Could not get match 3791565 stats
Trying to get match 3791566 stats
Trying to get match 3791567 stats
Trying to get match 3791568 stats
Trying to get match 3791569 stats
Trying to get match 3791570 stats
Trying to get match 3791571 stats
Trying to get match 3791572 stats
Trying to get match 3791573 stats
Trying to get match 3791574 stats
Trying to get match 3791575 stats
Trying to get match 3791576 stats
Trying to get match 3791577 stats
Trying to get match 3791578 stats
Trying to get match 3791579 stats
Trying to get match 3791580 stats
Trying to get match 3791581 stats
Trying to get match 3791582 stats
Trying to get match 3791583 stats
Trying to get match 3791584 stats
Trying to get match 3791585 stats
Trying to get match 3791586 stats
Trying to get match 3791587 stats
Trying to get match 3791588 stats
Trying to get match 3791589 stats
Trying to get match 3791590 stats
Trying to get match 3791591 stats
Trying to get match 3791592 stats
Trying to get match 3791593 stats
Trying to get match 3791594 stats
Trying to get match 3791595 stats
Trying to get match 3791596 stats
Trying to get match 3791597 stats
Trying to get match 3791598 stats
Trying to get match 3791599 stats
Trying to get match 3791600 stats
Trying to get match 3791601 stats
Trying to get match 3791602 stats
Trying to get match 3791603 stats
Trying to get match 3791604 stats
Trying to get match 3791605 stats
Trying to get match 3791606 stats
Trying to get match 3791607 stats
Trying to get match 3791608 stats
Trying to get match 3791609 stats
Trying to get match 3791610 stats
Trying to get match 3791611 stats
Trying to get match 3791612 stats
Trying to get match 3791613 stats
Trying to get match 3791614 stats
Trying to get match 3791615 stats
Trying to get match 3791616 stats
Trying to get match 3791617 stats
Trying to get match 3791618 stats
Trying to get match 3791619 stats
Trying to get match 3791620 stats

In [32]:
df2.tail(5)

,match_id,home_team,away_team,home_team_score,away_team_score,home_xG,away_xG,home_shots,away_shots,home_xG_first_half,away_xG_first_half,home_xG_second_half,away_xG_second_half,home_xG_Open_Play,away_xG_Open_Play,home_xG_Set_Play,away_xG_Set_Play,home_xGOT,away_xGOT
50,3791616,Bengaluru FC,Hyderabad FC,1.0,2.0,1.02,0.59,8.0,1.0,0.04,0.43,0.98,0.15,0.86,0.38,0.16,0.21,0.91,0.61
51,3791617,Mumbai City FC,Odisha FC,4.0,1.0,0.73,0.55,13.0,14.0,0.19,0.26,0.55,0.29,0.52,0.32,0.22,0.23,1.26,0.60
52,3791618,Chennaiyin FC,Jamshedpur,1.0,4.0,1.19,3.65,15.0,28.0,0.15,3.07,1.04,0.58,0.87,0.37,0.31,1.28,1.41,4.35
53,3791619,ATK Mohun Bagan FC,Northeast United FC,3.0,1.0,2.52,1.28,16.0,24.0,1.72,0.55,0.80,0.73,2.40,0.89,0.12,0.38,1.71,1.10
54,3791620,FC Goa,Kerala Blasters FC,4.0,4.0,2.69,2.99,15.0,14.0,0.17,1.67,2.52,1.32,0.89,0.03,1.02,0.17,3.48,2.92

In [34]:
last_row = {'match_id': 3727956,
 'home_team': 'Bengaluru FC',
 'away_team': 'Kerala Blasters FC',
 'home_team_score': 1.0,
 'away_team_score': 1.0,
 'home_xG': 0.68,
 'away_xG': 0.32,
 'home_shots': 9.0,
 'away_shots': 8.0,
 'home_xG_first_half': 0.12,
 'away_xG_first_half': 0.14,
 'home_xG_second_half': 0.56,
 'away_xG_second_half': 0.18,
 'home_xG_Open_Play': 0.28,
 'away_xG_Open_Play': 0.20,
 'home_xG_Set_Play': 0.39,
 'away_xG_Set_Play': 0.11,
 'home_xGOT': 0.73,
 'away_xGOT': 0.04}
df2 = df2.append(last_row,ignore_index=True)

In [35]:
last_row = {'match_id': 3727963,
 'home_team': 'Bengaluru FC',
 'away_team': 'Mumbai City FC',
 'home_team_score': 1.0,
 'away_team_score': 3.0,
 'home_xG': 1.16,
 'away_xG': 1.11,
 'home_shots': 8.0,
 'away_shots': 9.0,
 'home_xG_first_half': 0.99,
 'away_xG_first_half': 0.83,
 'home_xG_second_half': 0.17,
 'away_xG_second_half': 0.28,
 'home_xG_Open_Play': 0.30,
 'away_xG_Open_Play': 0.21,
 'home_xG_Set_Play': 0.07,
 'away_xG_Set_Play': 0.11,
 'home_xGOT': 1.38,
 'away_xGOT': 2.12}
df2 = df2.append(last_row,ignore_index=True)

In [36]:
df2.tail()

,match_id,home_team,away_team,home_team_score,away_team_score,home_xG,away_xG,home_shots,away_shots,home_xG_first_half,away_xG_first_half,home_xG_second_half,away_xG_second_half,home_xG_Open_Play,away_xG_Open_Play,home_xG_Set_Play,away_xG_Set_Play,home_xGOT,away_xGOT
52,3791618,Chennaiyin FC,Jamshedpur,1.0,4.0,1.19,3.65,15.0,28.0,0.15,3.07,1.04,0.58,0.87,0.37,0.31,1.28,1.41,4.35
53,3791619,ATK Mohun Bagan FC,Northeast United FC,3.0,1.0,2.52,1.28,16.0,24.0,1.72,0.55,0.80,0.73,2.40,0.89,0.12,0.38,1.71,1.10
54,3791620,FC Goa,Kerala Blasters FC,4.0,4.0,2.69,2.99,15.0,14.0,0.17,1.67,2.52,1.32,0.89,0.03,1.02,0.17,3.48,2.92
55,3727956,Bengaluru FC,Kerala Blasters FC,1.0,1.0,0.68,0.32,9.0,8.0,0.12,0.14,0.56,0.18,0.28,0.20,0.39,0.11,0.73,0.04
56,3727963,Bengaluru FC,Mumbai City FC,1.0,3.0,1.16,1.11,8.0,9.0,0.99,0.83,0.17,0.28,0.30,0.21,0.07,0.11,1.38,2.12

In [37]:
df1.shape,df2.shape

((53, 19), (57, 19))

In [39]:
df1.to_csv('ISL_scraped_stats_part1.csv')
df2.to_csv('ISL_scraped_stats_part2.csv')

# Data manipulation

In [28]:
df1 = pd.read_csv("ISL_scraped_stats_part1.csv")
df2 = pd.read_csv("ISL_scraped_stats_part2.csv")
df = pd.concat([df1,df2],ignore_index=True)

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110 entries, 0 to 109
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           110 non-null    int64
 1   match_id             110 non-null    int64
 2   home_team            110 non-null    object
 3   away_team            110 non-null    object
 4   home_team_score      110 non-null    float64
 5   away_team_score      110 non-null    float64
 6   home_xG              110 non-null    float64
 7   away_xG              110 non-null    float64
 8   home_shots           110 non-null    float64
 9   away_shots           110 non-null    float64
 10  home_xG_first_half   110 non-null    float64
 11  away_xG_first_half   110 non-null    float64
 12  home_xG_second_half  110 non-null    float64
 13  away_xG_second_half  110 non-null    float64
 14  home_xG_Open_Play    110 non-null    float64
 15  away_xG_Open_Play    110 non-null    float64
 16  home_xG_Set_Play     110 non-null    float64
 17  away_xG_Set_Play     110 non-null    float64
 18  home_xGOT            110 non-null    float64
 19  away_xGOT            110 non-null    float64
dtypes: float64(16), int64(2), object(2)
memory usage: 17.3+ KB

In [30]:
df.head(10)

,Unnamed: 0,match_id,home_team,away_team,home_team_score,away_team_score,home_xG,away_xG,home_shots,away_shots,home_xG_first_half,away_xG_first_half,home_xG_second_half,away_xG_second_half,home_xG_Open_Play,away_xG_Open_Play,home_xG_Set_Play,away_xG_Set_Play,home_xGOT,away_xGOT
0,0,3727946,ATK Mohun Bagan FC,Kerala Blasters FC,4.0,2.0,1.61,1.12,11.0,13.0,1.09,0.32,0.52,0.80,0.68,0.86,0.14,0.26,2.29,1.54
1,1,3727947,Bengaluru FC,Northeast United FC,4.0,2.0,0.98,1.26,9.0,2.0,0.81,1.01,0.18,0.26,0.92,0.26,0.06,0.00,1.58,0.77
2,2,3727948,SC East Bengal,Jamshedpur,1.0,1.0,0.52,1.68,11.0,18.0,0.28,1.06,0.24,0.61,0.32,0.55,0.20,1.13,0.17,1.21
3,3,3727949,Mumbai City FC,FC Goa,3.0,0.0,1.78,0.81,11.0,8.0,1.32,0.53,0.46,0.27,0.61,0.78,0.38,0.03,1.94,0.13
4,4,3727950,Hyderabad FC,Chennaiyin FC,0.0,1.0,0.65,1.04,12.0,7.0,0.34,0.06,0.30,0.98,0.34,0.20,0.31,0.05,0.52,1.07
5,5,3727951,Odisha FC,Bengaluru FC,3.0,1.0,0.84,1.68,7.0,7.0,0.32,0.36,0.52,1.32,0.76,0.63,0.08,0.26,1.78,1.89
6,6,3727952,Northeast United FC,Kerala Blasters FC,0.0,0.0,0.27,1.83,7.0,2.0,0.13,0.76,0.14,1.07,0.17,0.75,0.10,0.09,0.00,0.82
7,7,3727953,FC Goa,Jamshedpur,1.0,3.0,0.60,2.06,13.0,15.0,0.15,0.85,0.45,1.21,0.47,0.27,0.13,0.79,0.62,2.35
8,8,3727954,SC East Bengal,ATK Mohun Bagan FC,0.0,3.0,0.37,0.87,7.0,2.0,0.21,0.63,0.17,0.24,0.19,0.84,0.18,0.03,0.00,1.78
9,9,3727955,Mumbai City FC,Hyderabad FC,1.0,3.0,0.58,1.58,12.0,7.0,0.32,0.95,0.26,0.63,0.29,0.72,0.29,0.07,0.72,2.35

In [31]:
df['xG_differential'] = df['home_xG'] - df['away_xG']
df.head(3)

,Unnamed: 0,match_id,home_team,away_team,home_team_score,away_team_score,home_xG,away_xG,home_shots,away_shots,...,away_xG_first_half,home_xG_second_half,away_xG_second_half,home_xG_Open_Play,away_xG_Open_Play,home_xG_Set_Play,away_xG_Set_Play,home_xGOT,away_xGOT,xG_differential
0,0,3727946,ATK Mohun Bagan FC,Kerala Blasters FC,4.0,2.0,1.61,1.12,11.0,13.0,...,0.32,0.52,0.80,0.68,0.86,0.14,0.26,2.29,1.54,0.49
1,1,3727947,Bengaluru FC,Northeast United FC,4.0,2.0,0.98,1.26,9.0,2.0,...,1.01,0.18,0.26,0.92,0.26,0.06,0.00,1.58,0.77,-0.28
2,2,3727948,SC East Bengal,Jamshedpur,1.0,1.0,0.52,1.68,11.0,18.0,...,1.06,0.24,0.61,0.32,0.55,0.20,1.13,0.17,1.21,-1.16

In [32]:
for idx, row in df.iterrows():
    if df.loc[idx,'xG_differential']>1.5:
        df.loc[idx,'home_xP'],df.loc[idx,'away_xP'] = 2.7,0.3
    elif df.loc[idx,'xG_differential']>1.0 and df.loc[idx,'xG_differential']<1.5:
        df.loc[idx,'home_xP'],df.loc[idx,'away_xP'] = 2.3,0.7
    
    elif df.loc[idx,'xG_differential']>0.5 and df.loc[idx,'xG_differential']<1.0:
        df.loc[idx,'home_xP'],df.loc[idx,'away_xP'] = 2.0,1.0
    
    elif df.loc[idx,'xG_differential']>0 and df.loc[idx,'xG_differential']<0.5:
        df.loc[idx,'home_xP'],df.loc[idx,'away_xP'] = 1.5,1.5
    
    elif df.loc[idx,'xG_differential']>-0.5 and df.loc[idx,'xG_differential']<0:
        df.loc[idx,'home_xP'],df.loc[idx,'away_xP'] = 0.7,2.3
    
    elif df.loc[idx,'xG_differential']>-1.0 and df.loc[idx,'xG_differential']<-0.5:
        df.loc[idx,'home_xP'],df.loc[idx,'away_xP'] = 0.5,2.5
        
    elif df.loc[idx,'xG_differential']>-1.5 and df.loc[idx,'xG_differential']<-1.0:
        df.loc[idx,'home_xP'],df.loc[idx,'away_xP'] = 0.3,2.7
    
    elif df.loc[idx,'xG_differential']>-1.5:
        df.loc[idx,'home_xP'],df.loc[idx,'away_xP'] = 0.1,2.9

In [33]:
df.tail()

,Unnamed: 0,match_id,home_team,away_team,home_team_score,away_team_score,home_xG,away_xG,home_shots,away_shots,...,away_xG_second_half,home_xG_Open_Play,away_xG_Open_Play,home_xG_Set_Play,away_xG_Set_Play,home_xGOT,away_xGOT,xG_differential,home_xP,away_xP
105,52,3791618,Chennaiyin FC,Jamshedpur,1.0,4.0,1.19,3.65,15.0,28.0,...,0.58,0.87,0.37,0.31,1.28,1.41,4.35,-2.46,NaN,NaN
106,53,3791619,ATK Mohun Bagan FC,Northeast United FC,3.0,1.0,2.52,1.28,16.0,24.0,...,0.73,2.40,0.89,0.12,0.38,1.71,1.10,1.24,2.3,0.7
107,54,3791620,FC Goa,Kerala Blasters FC,4.0,4.0,2.69,2.99,15.0,14.0,...,1.32,0.89,0.03,1.02,0.17,3.48,2.92,-0.30,0.7,2.3
108,55,3727956,Bengaluru FC,Kerala Blasters FC,1.0,1.0,0.68,0.32,9.0,8.0,...,0.18,0.28,0.20,0.39,0.11,0.73,0.04,0.36,1.5,1.5
109,56,3727963,Bengaluru FC,Mumbai City FC,1.0,3.0,1.16,1.11,8.0,9.0,...,0.28,0.30,0.21,0.07,0.11,1.38,2.12,0.05,1.5,1.5

In [34]:
df_home = df.groupby(df['home_team'])
df_away = df.groupby(df['away_team'])

In [35]:
team_goals = df_home['home_team_score'].sum() + df_away['away_team_score'].sum()
team_goals = team_goals.reset_index() #converts to a df
team_goals.rename( columns={'home_team':'team',0 :'goals'}, inplace=True )
team_goals = team_goals.sort_values(['team'])
team_goals

                   team  goals
0    ATK Mohun Bagan FC   37.0
1          Bengaluru FC   32.0
2         Chennaiyin FC   17.0
3                FC Goa   29.0
4          Hyderabad FC   43.0
5            Jamshedpur   42.0
6    Kerala Blasters FC   34.0
7        Mumbai City FC   36.0
8   Northeast United FC   25.0
9             Odisha FC   31.0
10       SC East Bengal   18.0

In [36]:
team_goals_conceded = df_home['away_team_score'].sum() + df_away['home_team_score'].sum()
team_goals_conceded = team_goals_conceded.reset_index() #converts to a df
team_goals_conceded.rename( columns={'home_team':'team',0 :'goals_conceded'}, inplace=True )
team_goals_conceded = team_goals_conceded.sort_values(['team'])
team_goals_conceded

                   team  goals_conceded
0    ATK Mohun Bagan FC            26.0
1          Bengaluru FC            27.0
2         Chennaiyin FC            35.0
3                FC Goa            35.0
4          Hyderabad FC            23.0
5            Jamshedpur            21.0
6    Kerala Blasters FC            24.0
7        Mumbai City FC            31.0
8   Northeast United FC            43.0
9             Odisha FC            43.0
10       SC East Bengal            36.0

In [37]:
team_xPoints = df_home['home_xP'].sum() + df_away['away_xP'].sum()
team_xPoints = team_xPoints.reset_index() #converts to a df
team_xPoints.rename( columns={'home_team':'team',0 :'xPoints'}, inplace=True )
team_xPoints = team_xPoints.sort_values(['team'])
team_xPoints

                   team  xPoints
0    ATK Mohun Bagan FC     33.0
1          Bengaluru FC     31.8
2         Chennaiyin FC     23.9
3                FC Goa     27.7
4          Hyderabad FC     27.4
5            Jamshedpur     36.9
6    Kerala Blasters FC     27.5
7        Mumbai City FC     25.4
8   Northeast United FC     17.3
9             Odisha FC     21.4
10       SC East Bengal     21.7

In [38]:
team_shots = df_home['home_shots'].sum() + df_away['away_shots'].sum()
team_shots = team_shots.reset_index() #converts to a df
team_shots.rename( columns={'home_team':'team',0 :'shots'}, inplace=True )
team_shots = team_shots.sort_values(['team'])
team_shots

                   team  shots
0    ATK Mohun Bagan FC  282.0
1          Bengaluru FC  214.0
2         Chennaiyin FC  211.0
3                FC Goa  248.0
4          Hyderabad FC  237.0
5            Jamshedpur  274.0
6    Kerala Blasters FC  224.0
7        Mumbai City FC  245.0
8   Northeast United FC  250.0
9             Odisha FC  219.0
10       SC East Bengal  227.0

In [39]:
team_shots_against = df_home['away_shots'].sum() + df_away['home_shots'].sum()
team_shots_against = team_shots_against.reset_index() #converts to a df
team_shots_against.rename( columns={'home_team':'team',0 :'shots_against'}, inplace=True )
team_shots_against = team_shots_against.sort_values(['team'])
team_shots_against

                   team  shots_against
0    ATK Mohun Bagan FC          275.0
1          Bengaluru FC          207.0
2         Chennaiyin FC          283.0
3                FC Goa          200.0
4          Hyderabad FC          210.0
5            Jamshedpur          181.0
6    Kerala Blasters FC          208.0
7        Mumbai City FC          235.0
8   Northeast United FC          290.0
9             Odisha FC          275.0
10       SC East Bengal          267.0

In [40]:
team_xG = df_home['home_xG'].sum() + df_away['away_xG'].sum()
team_xG = team_xG.reset_index() #converts to a df
team_xG.rename( columns={'home_team':'team',0 :'xG'}, inplace=True )
team_xG = team_xG.sort_values(['team'])
team_xG

                   team     xG
0    ATK Mohun Bagan FC  32.22
1          Bengaluru FC  26.84
2         Chennaiyin FC  22.03
3                FC Goa  29.37
4          Hyderabad FC  29.25
5            Jamshedpur  29.16
6    Kerala Blasters FC  25.17
7        Mumbai City FC  28.21
8   Northeast United FC  25.39
9             Odisha FC  26.01
10       SC East Bengal  17.10

In [41]:
team_xGA = df_home['away_xG'].sum() + df_away['home_xG'].sum()
team_xGA = team_xGA.reset_index() #converts to a df
team_xGA.rename( columns={'home_team':'team',0 :'xGA'}, inplace=True )
team_xGA = team_xGA.sort_values(['team'])
team_xGA

                   team    xGA
0    ATK Mohun Bagan FC  22.84
1          Bengaluru FC  19.97
2         Chennaiyin FC  33.32
3                FC Goa  23.97
4          Hyderabad FC  22.62
5            Jamshedpur  18.35
6    Kerala Blasters FC  23.26
7        Mumbai City FC  26.29
8   Northeast United FC  40.96
9             Odisha FC  30.38
10       SC East Bengal  28.79

In [42]:
team_xG_first_half = df_home['home_xG_first_half'].sum() + df_away['away_xG_first_half'].sum()
team_xG_first_half = team_xG_first_half.reset_index() #converts to a df
team_xG_first_half.rename( columns={'home_team':'team',0 :'xG_first_half'}, inplace=True )
team_xG_first_half = team_xG_first_half.sort_values(['team'])
team_xG_first_half

                   team  xG_first_half
0    ATK Mohun Bagan FC          13.37
1          Bengaluru FC          13.58
2         Chennaiyin FC          10.87
3                FC Goa          15.81
4          Hyderabad FC          14.08
5            Jamshedpur          14.37
6    Kerala Blasters FC          11.74
7        Mumbai City FC          13.58
8   Northeast United FC          11.03
9             Odisha FC          10.38
10       SC East Bengal           6.70

In [43]:
team_xGA_first_half = df_home['away_xG_first_half'].sum() + df_away['home_xG_first_half'].sum()
team_xGA_first_half = team_xGA_first_half.reset_index() #converts to a df
team_xGA_first_half.rename( columns={'home_team':'team',0 :'xGA_first_half'}, inplace=True )
team_xGA_first_half = team_xGA_first_half.sort_values(['team'])
team_xGA_first_half

                   team  xGA_first_half
0    ATK Mohun Bagan FC           11.01
1          Bengaluru FC           10.48
2         Chennaiyin FC           19.36
3                FC Goa           10.84
4          Hyderabad FC           10.14
5            Jamshedpur            6.53
6    Kerala Blasters FC            8.93
7        Mumbai City FC           12.89
8   Northeast United FC           19.42
9             Odisha FC           12.70
10       SC East Bengal           13.21

In [44]:
team_xG_second_half = df_home['home_xG_second_half'].sum() + df_away['away_xG_second_half'].sum()
team_xG_second_half = team_xG_second_half.reset_index() #converts to a df
team_xG_second_half.rename( columns={'home_team':'team',0 :'xG_second_half'}, inplace=True )
team_xG_second_half = team_xG_second_half.sort_values(['team'])
team_xG_second_half

                   team  xG_second_half
0    ATK Mohun Bagan FC           18.86
1          Bengaluru FC           13.31
2         Chennaiyin FC           11.18
3                FC Goa           13.55
4          Hyderabad FC           15.14
5            Jamshedpur           14.77
6    Kerala Blasters FC           13.41
7        Mumbai City FC           14.65
8   Northeast United FC           14.37
9             Odisha FC           15.62
10       SC East Bengal           10.42

In [45]:
team_xGA_second_half = df_home['away_xG_second_half'].sum() + df_away['home_xG_second_half'].sum()
team_xGA_second_half = team_xGA_second_half.reset_index() #converts to a df
team_xGA_second_half.rename( columns={'home_team':'team',0 :'xGA_second_half'}, inplace=True )
team_xGA_second_half = team_xGA_second_half.sort_values(['team'])
team_xGA_second_half

                   team  xGA_second_half
0    ATK Mohun Bagan FC            11.82
1          Bengaluru FC             9.49
2         Chennaiyin FC            13.99
3                FC Goa            13.16
4          Hyderabad FC            12.50
5            Jamshedpur            11.83
6    Kerala Blasters FC            14.33
7        Mumbai City FC            13.37
8   Northeast United FC            21.54
9             Odisha FC            17.68
10       SC East Bengal            15.57

In [46]:
team_xG_Open_Play = df_home['home_xG_Open_Play'].sum() + df_away['away_xG_Open_Play'].sum()
team_xG_Open_Play = team_xG_Open_Play.reset_index() #converts to a df
team_xG_Open_Play.rename( columns={'home_team':'team',0 :'xG_Open_Play'}, inplace=True )
team_xG_Open_Play = team_xG_Open_Play.sort_values(['team'])
team_xG_Open_Play

                   team  xG_Open_Play
0    ATK Mohun Bagan FC         15.32
1          Bengaluru FC         10.37
2         Chennaiyin FC         13.88
3                FC Goa         13.42
4          Hyderabad FC         12.01
5            Jamshedpur         13.17
6    Kerala Blasters FC         11.98
7        Mumbai City FC         13.32
8   Northeast United FC         14.97
9             Odisha FC         15.93
10       SC East Bengal          9.65

In [47]:
team_xGA_Open_Play = df_home['away_xG_Open_Play'].sum() + df_away['home_xG_Open_Play'].sum()
team_xGA_Open_Play = team_xGA_Open_Play.reset_index() #converts to a df
team_xGA_Open_Play.rename( columns={'home_team':'team',0 :'xGA_Open_Play'}, inplace=True )
team_xGA_Open_Play = team_xGA_Open_Play.sort_values(['team'])
team_xGA_Open_Play

                   team  xGA_Open_Play
0    ATK Mohun Bagan FC          12.46
1          Bengaluru FC          11.30
2         Chennaiyin FC          14.72
3                FC Goa           9.05
4          Hyderabad FC          11.08
5            Jamshedpur           8.94
6    Kerala Blasters FC          11.81
7        Mumbai City FC          14.24
8   Northeast United FC          18.53
9             Odisha FC          15.20
10       SC East Bengal          16.69

In [48]:
team_xG_Set_Play = df_home['home_xG_Set_Play'].sum() + df_away['away_xG_Set_Play'].sum()
team_xG_Set_Play = team_xG_Set_Play.reset_index() #converts to a df
team_xG_Set_Play.rename( columns={'home_team':'team',0 :'xG_Set_Play'}, inplace=True )
team_xG_Set_Play = team_xG_Set_Play.sort_values(['team'])
team_xG_Set_Play

                   team  xG_Set_Play
0    ATK Mohun Bagan FC         4.79
1          Bengaluru FC         8.72
2         Chennaiyin FC         5.56
3                FC Goa         6.60
4          Hyderabad FC         8.65
5            Jamshedpur         7.63
6    Kerala Blasters FC         5.80
7        Mumbai City FC         7.13
8   Northeast United FC         7.44
9             Odisha FC         3.51
10       SC East Bengal         5.08

In [49]:
team_xGA_Set_Play = df_home['away_xG_Set_Play'].sum() + df_away['home_xG_Set_Play'].sum()
team_xGA_Set_Play = team_xGA_Set_Play.reset_index() #converts to a df
team_xGA_Set_Play.rename( columns={'home_team':'team',0 :'xGA_Set_Play'}, inplace=True )
team_xGA_Set_Play = team_xGA_Set_Play.sort_values(['team'])
team_xGA_Set_Play

                   team  xGA_Set_Play
0    ATK Mohun Bagan FC          5.79
1          Bengaluru FC          4.09
2         Chennaiyin FC         11.05
3                FC Goa          4.56
4          Hyderabad FC          4.98
5            Jamshedpur          5.82
6    Kerala Blasters FC          6.51
7        Mumbai City FC          5.30
8   Northeast United FC          9.85
9             Odisha FC          7.45
10       SC East Bengal          5.51

In [50]:
team_xGOT = df_home['home_xGOT'].sum() + df_away['away_xGOT'].sum()
team_xGOT = team_xGOT.reset_index() #converts to a df
team_xGOT.rename( columns={'home_team':'team',0 :'xGOT'}, inplace=True )
team_xGOT = team_xGOT.sort_values(['team'])
team_xGOT

                   team   xGOT
0    ATK Mohun Bagan FC  25.97
1          Bengaluru FC  26.32
2         Chennaiyin FC  16.70
3                FC Goa  27.65
4          Hyderabad FC  33.22
5            Jamshedpur  31.49
6    Kerala Blasters FC  24.78
7        Mumbai City FC  31.55
8   Northeast United FC  22.99
9             Odisha FC  27.30
10       SC East Bengal  14.94

In [51]:
team_xGOTA = df_home['away_xGOT'].sum() + df_away['home_xGOT'].sum()
team_xGOTA = team_xGOTA.reset_index() #converts to a df
team_xGOTA.rename( columns={'home_team':'team',0 :'xGOTA'}, inplace=True )
team_xGOTA = team_xGOTA.sort_values(['team'])
team_xGOTA

                   team  xGOTA
0    ATK Mohun Bagan FC  22.77
1          Bengaluru FC  21.97
2         Chennaiyin FC  32.11
3                FC Goa  25.14
4          Hyderabad FC  21.21
5            Jamshedpur  17.18
6    Kerala Blasters FC  20.26
7        Mumbai City FC  27.64
8   Northeast United FC  37.92
9             Odisha FC  30.70
10       SC East Bengal  26.01

In [52]:
# team_xG_first_half,team_xG_second_half,team_xG_Open_Play,team_xG_Set_Play,team_xGOT
team_df = pd.merge(team_goals,team_xG,how='inner',on='team')
team_df = pd.merge(team_df,team_goals_conceded,how='inner',on='team')
team_df = pd.merge(team_df,team_xGA,how='inner',on='team')
team_df = pd.merge(team_df,team_shots,how='inner',on='team')
team_df = pd.merge(team_df,team_shots_against,how='inner',on='team')
team_df = pd.merge(team_df,team_xPoints,how='inner',on='team')
team_df = pd.merge(team_df,team_xG_first_half,how='inner',on='team')
team_df = pd.merge(team_df,team_xGA_first_half,how='inner',on='team')
team_df = pd.merge(team_df,team_xG_second_half,how='inner',on='team')
team_df = pd.merge(team_df,team_xGA_second_half,how='inner',on='team')
team_df = pd.merge(team_df,team_xG_Open_Play,how='inner',on='team')
team_df = pd.merge(team_df,team_xGA_Open_Play,how='inner',on='team')
team_df = pd.merge(team_df,team_xG_Set_Play,how='inner',on='team')
team_df = pd.merge(team_df,team_xGA_Set_Play,how='inner',on='team')
team_df = pd.merge(team_df,team_xGOT,how='inner',on='team')
team_df = pd.merge(team_df,team_xGOTA,how='inner',on='team')
team_df

,team,goals,xG,goals_conceded,xGA,shots,shots_against,xPoints,xG_first_half,xGA_first_half,xG_second_half,xGA_second_half,xG_Open_Play,xGA_Open_Play,xG_Set_Play,xGA_Set_Play,xGOT,xGOTA
0,ATK Mohun Bagan FC,37.0,32.22,26.0,22.84,282.0,275.0,33.0,13.37,11.01,18.86,11.82,15.32,12.46,4.79,5.79,25.97,22.77
1,Bengaluru FC,32.0,26.84,27.0,19.97,214.0,207.0,31.8,13.58,10.48,13.31,9.49,10.37,11.30,8.72,4.09,26.32,21.97
2,Chennaiyin FC,17.0,22.03,35.0,33.32,211.0,283.0,23.9,10.87,19.36,11.18,13.99,13.88,14.72,5.56,11.05,16.70,32.11
3,FC Goa,29.0,29.37,35.0,23.97,248.0,200.0,27.7,15.81,10.84,13.55,13.16,13.42,9.05,6.60,4.56,27.65,25.14
4,Hyderabad FC,43.0,29.25,23.0,22.62,237.0,210.0,27.4,14.08,10.14,15.14,12.50,12.01,11.08,8.65,4.98,33.22,21.21
5,Jamshedpur,42.0,29.16,21.0,18.35,274.0,181.0,36.9,14.37,6.53,14.77,11.83,13.17,8.94,7.63,5.82,31.49,17.18
6,Kerala Blasters FC,34.0,25.17,24.0,23.26,224.0,208.0,27.5,11.74,8.93,13.41,14.33,11.98,11.81,5.80,6.51,24.78,20.26
7,Mumbai City FC,36.0,28.21,31.0,26.29,245.0,235.0,25.4,13.58,12.89,14.65,13.37,13.32,14.24,7.13,5.30,31.55,27.64
8,Northeast United FC,25.0,25.39,43.0,40.96,250.0,290.0,17.3,11.03,19.42,14.37,21.54,14.97,18.53,7.44,9.85,22.99,37.92
9,Odisha FC,31.0,26.01,43.0,30.38,219.0,275.0,21.4,10.38,12.70,15.62,17.68,15.93,15.20,3.51,7.45,27.30,30.70
10,SC East Bengal,18.0,17.10,36.0,28.79,227.0,267.0,21.7,6.70,13.21,10.42,15.57,9.65,16.69,5.08,5.51,14.94,26.01

In [53]:
team_df['xG_per_shot'] = round(team_df['xG']/team_df['shots'],3)
team_df['xGA_per_shot'] = round(team_df['xGA']/team_df['shots_against'],3)

In [54]:
team_df

,team,goals,xG,goals_conceded,xGA,shots,shots_against,xPoints,xG_first_half,xGA_first_half,xG_second_half,xGA_second_half,xG_Open_Play,xGA_Open_Play,xG_Set_Play,xGA_Set_Play,xGOT,xGOTA,xG_per_shot,xGA_per_shot
0,ATK Mohun Bagan FC,37.0,32.22,26.0,22.84,282.0,275.0,33.0,13.37,11.01,18.86,11.82,15.32,12.46,4.79,5.79,25.97,22.77,0.114,0.083
1,Bengaluru FC,32.0,26.84,27.0,19.97,214.0,207.0,31.8,13.58,10.48,13.31,9.49,10.37,11.30,8.72,4.09,26.32,21.97,0.125,0.096
2,Chennaiyin FC,17.0,22.03,35.0,33.32,211.0,283.0,23.9,10.87,19.36,11.18,13.99,13.88,14.72,5.56,11.05,16.70,32.11,0.104,0.118
3,FC Goa,29.0,29.37,35.0,23.97,248.0,200.0,27.7,15.81,10.84,13.55,13.16,13.42,9.05,6.60,4.56,27.65,25.14,0.118,0.120
4,Hyderabad FC,43.0,29.25,23.0,22.62,237.0,210.0,27.4,14.08,10.14,15.14,12.50,12.01,11.08,8.65,4.98,33.22,21.21,0.123,0.108
5,Jamshedpur,42.0,29.16,21.0,18.35,274.0,181.0,36.9,14.37,6.53,14.77,11.83,13.17,8.94,7.63,5.82,31.49,17.18,0.106,0.101
6,Kerala Blasters FC,34.0,25.17,24.0,23.26,224.0,208.0,27.5,11.74,8.93,13.41,14.33,11.98,11.81,5.80,6.51,24.78,20.26,0.112,0.112
7,Mumbai City FC,36.0,28.21,31.0,26.29,245.0,235.0,25.4,13.58,12.89,14.65,13.37,13.32,14.24,7.13,5.30,31.55,27.64,0.115,0.112
8,Northeast United FC,25.0,25.39,43.0,40.96,250.0,290.0,17.3,11.03,19.42,14.37,21.54,14.97,18.53,7.44,9.85,22.99,37.92,0.102,0.141
9,Odisha FC,31.0,26.01,43.0,30.38,219.0,275.0,21.4,10.38,12.70,15.62,17.68,15.93,15.20,3.51,7.45,27.30,30.70,0.119,0.110
10,SC East Bengal,18.0,17.10,36.0,28.79,227.0,267.0,21.7,6.70,13.21,10.42,15.57,9.65,16.69,5.08,5.51,14.94,26.01,0.075,0.108

In [55]:
team_df.to_csv('ISL_league_stage.csv')